* {
    font-family: Montserrat;
    box-sizing: border-box;
}

.card:hover .btn-pattern {
    margin-top: 40px;
}

.card:hover .conteudo img {
    margin-left: -40%
}

.card:hover .conteudo {
    background-color: #B8C0C7;
    color: white;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2);
}

img {
    width: 170%;
    margin-left: -60%;
    transition: 0.4s;
}

.card {
    transition: 0.4s;
}

.card-area {
    max-width: 350px;
    text-align: left;
    margin: 0 auto;
    background-color: #fff;
}

.conteudo {
    background-color: #fff;
    border-radius: 10px;
    padding: 15px 30px;
    color: black;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.1);
    transition: 0.4s;
}

.moto-name h3 {
    line-height: 10px;
    font-weight: bold;
}

.moto-name h1 {
    line-height: 10px;
}

.moto-price p {
    text-transform: uppercase;
    font-weight: bold;
    line-height: 0px;
}

.moto-price h2 {
    font-size: 50px;
    line-height: 0px;
}

.moto-price h2 sup {
    font-size: 20px;
    line-height: 0px;
}

.btn-pattern {
    text-decoration: none;
    color: black;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 16px;
    position: absolute;
    margin-top: -10px;
    display: flex;
    z-index: -1;
    transition: 0.4s;
}

.btn-pattern::after {
    content: "";
    display: block;
    height: 0;
    width: 0;
    border-top: 8px solid transparent;
    border-bottom: 8px solid transparent;
    border-left: 8px solid red;
    margin-left: 50px;
}